<div id="content" *ngIf="routines.length">
  <div *ngFor="let routine of routines; let i = index" class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
    <div class="display-card">
      <div class="display-card-header">
        <h3>
          <span class="material-symbols-outlined">schedule</span> {{ routine.name }}
        </h3>
      </div>
      <div class="card-separator"></div>
      <div class="routine-info">
        <p>Trigger Time: {{ routine.trigger.value }}</p>
        <div class="actions-display">
          <h5>Actions:</h5>
          <div *ngFor="let action of routine.actions" class="action-display">
            <p>Device: {{ action.device_name }}</p>
            <p>Action: Turn {{ action.action }}</p>
          </div>
        </div>
        <input type="checkbox" [id]="'toggleCheckbox' + i" class="toggleCheckbox"
               [checked]="routine.state"
               (change)="toggleRoutine($event, routine.id)" />
        <label [for]="'toggleCheckbox' + i" class="toggleContainer">
          <div>OFF</div>
          <div>ON</div>
        </label>
      </div>
    </div>
  </div>
</div>
