<div class="row" *ngIf="rooms.length > 0; else noRooms">
    <div *ngFor="let room of rooms; let i = index" class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
      <div class="display-card">
        <div class="display-card-header">
          <h3>
            <span class="material-symbols-outlined">home</span> {{ room.name }}
          </h3>
          <button *ngIf="room.name !== 'Default Room'"  class="delete-button" (click)="deleteRoom(room.id)">
          <span class="material-symbols-outlined">delete</span>
          </button>
          <button class="edit-button" (click)="editRoom(room.id)">
            Edit
          </button>
        </div>
        <div class="card-separator"></div>
          <button class="switch-button" (click)="switchRoom(room.id, true)">On</button>
          <button class="switch-button" (click)="switchRoom(room.id, false)">Off</button>
      </div>
    </div>
  </div>
  <ng-template #noRooms>
    <p>No rooms available. Please add a room.</p>
  </ng-template>

  <!-- Modal Container -->
<div #modalContainer></div>
