.btn-danger {
    margin-top: 20px;
}

.success-message {
  color: green;
  background-color: #e6ffe6;
  border: 1px solid green;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}