.header {
  padding: 25px;
  background-color: var(--secondary-color);
  color: var(--light-color);
  margin: -30px -30px 30px -42px;
  align-items: center;
  display: flex;
}

.head-button{
  padding: 10px;
  color: var(--light-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}
.head-button:hover{
  background-color: var(--light-color);
  color:var(--secondary-color);
}
