
:root {
  --primary-color: #5fa8d3;
  --secondary-color: #4a7b9d;
  --dark-color: #1c3d5a;
  --dark-color-transparent: #1c3d5a9f;
  --light-color: #F9F9F9;
  --submit-color: #4CAF50;
  --grey-color: #c3c1c1;
  --textbox-color: #a1b4b4;
}

body {
  background: #e9eefa;
}

select {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
}

.submit-button {
  padding: 10px;
  background-color: var(--submit-color);
  color: var(--light-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}

select{
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
}

.content-input {
  display: flex;
  flex-direction: column;
  min-width: 20vw;
}

.submit-button {
  padding: 10px;
  background-color: var(--submit-color);
  color: var(--light-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}


.head-button{
  padding: 10px;
  color: var(--light-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}
.head-button:hover{
  background-color: var(--light-color);
  color:var(--secondary-color);
}


.edit-button{
  color: var(--light-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  float: right;
  font-size: medium;
  margin: 5px;
}

.edit-button:hover {
  color: var(--primary-color);
  background-color: var(--light-color);
}

.delete-button{
  color: var(--light-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  float: right;
  font-size: medium;
  margin: 5px;
}

.delete-button:hover {
  background-color: #ff4d4d;
    color: white;
}

.switch-button {
  background-color: var(--grey-color);
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  width: 100px;
  transition: background-color 0.3s ease;
}

.switch-button:hover {
  background-color: var(--secondary-color);
}

